---
faq:
  - question: What is IT Meet ?
    answer: ITMEET is an annual technological event organized by Kathmandu University Computer Club.
  - question: What is Hackathon?
    answer: A hackathon is a focused 24-hour event where students, designer, entrepreneurs, programmers, and problem solver come together in small teams to share ideas and build something new and exciting, alongside a whole bunch of like-minded people. You learn immensely with the help of mentors, interact with companies and have fun! Hackathons are very beginner friendly.
  - question: What is bootcamp?
    answer: Bootcamp will be the most intense educational experience of your life. You will form a team, work with trained coaches, and develop a venture/product or as specific bootcamp goal and  you can communicate with influence  in blended cultural immersion with academic rigor.
 
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
